#notfound-image {
    width: 50%;
    display: block;
    margin: auto;
}
#notfound-button {
    display: block;
    margin: 2% auto;
    background-color: #032859;
    border: none;
    border-radius: 14px;
    padding: 1% 4%;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}
#notfound-button:hover {
    color: #F2994A;
}